<h1>Edit User</h1>

<% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_with model: @user, data: {turbo: false} do |form| %>
    <div>
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name %>
    </div>
    <div>
        <%= form.label :last_name %><br>
        <%= form.text_field :last_name %>
    </div>
    <div>
        <%= form.label :address %><br>
        <%= form.text_field :address %>
    </div>
    <div>
        <%= form.label :e_mail %><br>
        <%= form.email_field :e_mail%>
    </div>
    <br>
    <%= form.submit %>
<% end %>